footer
  ul
    li 
      a(
        href="https://github.com/gouz",
        title="Lien vers le compte github",
        rel="noopener",
        target="_blank"
      ) 
        include ../../img/github-tile.svg
        span gouz

    li 
      a(
        href="https://www.linkedin.com/in/sylvain-gougouzian/",
        title="Lien vers le compte linkedin",
        rel="noopener",
        target="_blank"
      ) 
        include ../../img/linkedin-tile.svg
        span sylvain-gougouzian

    li 
      a(
        href="https://www.twitch.tv/g0uz_",
        title="Lien vers le compte twitch",
        rel="noopener",
        target="_blank"
      ) 
        include ../../img/twitch-tile.svg
        span g0uz_

    li 
      a(
        href="https://twitter.com/GouZ",
        title="Lien vers le compte twitter",
        rel="noopener",
        target="_blank"
      ) 
        include ../../img/twitter-tile.svg
        span GouZ

  #source
    a(
      href="https://github.com/gouz/sylvain.gougouzian.fr",
      target="_blank",
      rel="noopener"
    ) Source code

  .to-print
    p#url https://sylvain.gougouzian.fr | sylvain@gougouzian.fr