doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(
      name="description",
      content="Fort de plus de 15 ans d'expériences salariales et entrepreneuriales, je recherche un poste au sein d'une équipe technique pour de nouveaux challenges."
    )
    title Sylvain Gougouzian

  body
    include pug/_mixins

    include pug/header

    main
      section
        include pug/pro
      section
        include pug/skills
        include pug/univ
      section
        include pug/talks
      section
        include pug/hobbies

      img#qrcode(
        src="img/qrcode.png",
        width="300",
        height="300",
        alt="qrcode amenant sur ce site"
      )

    include pug/footer

    a#print(
      href="javascript:window.print();",
      title="Imprimer mon CV (sans les marges)"
    )
      include img/print.svg
      span Imprimer mon CV (sans les marges)

    script(src="./js/main.js", type="module")
